#
# .gitignore git ignore file for .vim / vimfiles folder
# 

.netrwhist
bundle/
ftplugin/
indent/
syntax/
colors/
doc/

**/DS_Store*
**/*.exe
**/*.dll
**/*.7z


# -----------------------------------------------
#   binary files needed for gvim x64 on windows
# -----------------------------------------------

!cscope.exe
!ctags.exe
!diff.exe
!gvimfullscreen.dll
!iconv.dll
!vimtweak64.dll


# vim: se ai si et ts=4 sw=4 ft=conf
# EOF

